

$len:   30px;
$lenb:  20px;
$lenm:  15px;
$lens:  10px;
$lent:   5px;

$len2: 2 * $len;

$headC: #39c;
$footC: #999;
$locolC: #fff;
$hicolC: #f7efe1;
$navbgC: #666;
$bodybgC: #ccc;
$topicheadbgC: #d1cabf;

$fontbodyC: #333;
$fontmetaC: #999;
$fontsideC: #666;
$fontnavC:  #fff;


@mixin sidecont() {
  padding: $lens $lenm;
  border-bottom: 1px solid #e2e2e2;
}



a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.textbtn {
    color: #9e9e9e;
  }

  &.imgbtn {
     display: inline-block;
     width:  $lenm;
     height: $lenm;

     &.sprite-drilldown, &.sprite-page-backward, &.sprite-page-forward {
       width:  $lenm + $lens;
       height: $lenm + $lens;
     }

     &:hover {
       text-decoration: none;
     }
  }
}


h1 {
  font-weight: bold;
  font-size: 24px;
  color: $fontbodyC;
  margin: $lent 0px;
}


h2 {
  font-weight: bold;
  font-size: 15px;
  color: $fontbodyC;
  margin: $lent 0px;
}


h3 {
  font-weight: bold;
  font-size: 15px;
  color: $fontbodyC;
  margin: $lent 0px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin: 0px;
}



body {
  font-size: 13px;
  color: $fontbodyC;
  background-color: $bodybgC;
}


div {
  &.container {
    height: 100%;
  }

  &.header {
    background-color: $headC;
    height: $len2;
    width: 930px; 

    h1 {
      color: #fff;
      padding: $lenm;
      float:left;
    }

    ul {
      float: right;
      list-style-type: none;
      margin: $lenb $lent;

      li {
        padding: 0px;
        margin: 0px $lent;
        display: inline;

        a {
         padding: $lent;
         background-color: $navbgC;
         color: $fontnavC;
       }
     }
    }
  }


  &.leftcol {
    background-color: $locolC;
    margin-right: 0px;
    height: 1500px;

    h1,h2,h3 {
      color: $fontsideC;
    }

    div {
      @include sidecont();
    }
  }


  &.midcol {
    background-color: $hicolC;
    margin-right: 0px;
    height: 1500px;

    &>div {
      padding: $lens $lenm;
    }

    div.topichead {
      height: $len2;
      background-color: $topicheadbgC;

      p {
        float: left;
        width: 240px;
        margin: 0px;
        clear:both;
      }
      div.navbox {
        width: 70px;
        float: right;
      }
    }

    div.topicwelcome {
      display: none;
    }

    div.topicposts {

      #posts_tm { 
        display: none; 
      }
      #posts {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    
        li.message {
          margin: $lens 0px;
          border: 1px solid #ccc;
          padding: $lens;
          background-color: #fff;


          div.post_avatar {
            width: 32px;
            float: left;
          }

          div.post_content {
            width: 300px;
            float: right;
          }


          span.shares {
            float: left;
            color: $fontmetaC;
          }    
        }

        li.infomsg {
          margin: $lens 0px;
                      
          p {
            color: $fontmetaC;
            margin: 0px;
            padding: 0px;
          }
        }
      }
    }

    div.topicsend {
      display: none;

      #post_text {
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: #fff;
        width: 300px;
      }

      p.tweetout {
        color: $fontmetaC;
      }
    }
  }


  &.rightcol {
    background-color: $locolC;
    height: 1500px;

    div {
      @include sidecont();

      &#rally_miniavatars {
        border: none;
      }

      &.miniavatar {
        width: 32px;
        height: 32px;
        float: left;
        margin: 0px 8px 8px 0px;
        padding: 0px;
        border: none;
      }

      ul.sideposts {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    
        li {
          margin: $lens 0px;

          span.shares {
            float: left;
            color: $fontmetaC;
          }    
        }
      }
    }
  }

}

p {
  &.post {
    margin: 0px;
    clear: both;
  }

}



#login_box {
  display: none;
  border: 1px solid black;
  position: absolute;
  top: 300px;
  margin: auto;
  width: 200px;            
  height: 200px;
  background-color: white;
  padding: 20px;
}

#signup_box {
  display: none;
  border: 1px solid black;
  position: absolute;
  top: 300px;
  margin: auto;
  width: 200px;            
  height: 300px;
  background-color: white;
  padding: 20px;
}


#miniavatar_tm {
   display: none;
}
