a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.textbtn {
    color: #268cbf;
    font-weight: bold; }
  a.imgbtn {
    display: inline-block;
    width: 15px;
    height: 15px; }
    a.imgbtn.sprite-drilldown, a.imgbtn.sprite-drillup, a.imgbtn.sprite-page-backward, a.imgbtn.sprite-page-forward, a.imgbtn.sprite-page-backward-fill {
      width: 22px;
      height: 22px; }
    a.imgbtn:hover {
      text-decoration: none; }

body {
  font-size: 13px;
  color: #404040;
  background-color: #cccccc;
  line-height: 1.3;
  height: 100%; }

h1 {
  font-weight: bold;
  font-size: 24px;
  color: #404040;
  margin: 5px 0px; }

h2 {
  font-weight: bold;
  font-size: 15px;
  color: #404040;
  margin: 0px; }

h3 {
  font-weight: bold;
  font-size: 15px;
  color: #404040;
  margin: 0 0 5px; }

h4 {
  font-size: 13px;
  font-weight: bold;
  margin: 0px; }

p {
  margin: 0 0 1em 0; }

input {
  font-size: 13px;
  padding: 2px; }

.content, .container {
  width: 980px;
  margin: 0 auto; }

div.container {
  height: 100%; }
div.header {
  background-color: #3399cc;
  height: 60px;
  width: 980px; }
  div.header h1 {
    color: #fff;
    padding: 15px;
    float: left; }
div ul.topnav {
  float: right;
  list-style-type: none;
  margin: 20px 5px; }
  div ul.topnav.popup {
    float: none;
    padding: 0px;
    margin: 20px 0px; }
    div ul.topnav.popup li {
      margin: 0px; }
  div ul.topnav li {
    padding: 0px;
    display: inline; }
    div ul.topnav li a {
      padding: 5px 7px;
      background-color: #666666;
      color: white;
      text-decoration: none; }
    div ul.topnav li.navgroup {
      margin: 0px 1px 0px -5px; }
      div ul.topnav li.navgroup a {
        border-left: 1px solid #999; }
    div ul.topnav li.navgroup-left {
      margin: 0px 1px 0px 5px; }
      div ul.topnav li.navgroup-left a.first {
        -moz-border-top-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-bottom-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      div ul.topnav li.navgroup-left a.last {
        -moz-border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      div ul.topnav li.navgroup-left a {
        margin-right: -5px; }
    div ul.topnav li.navgroup-right {
      margin: 0px 1px 0px -5px; }
      div ul.topnav li.navgroup-right a {
        border-left: 1px solid #999;
        -moz-border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px; }
    div ul.topnav li.navgroup-alone {
      margin: 0px 1px 0px 5px; }
      div ul.topnav li.navgroup-alone a {
        -moz-border-top-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-border-bottom-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -moz-border-top-right-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
        -moz-border-bottom-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        border-bottom-right-radius: 4px; }
div.leftcol {
  background-color: white;
  margin-right: 0px;
  width: 265px;
  float: left;
  overflow: auto; }
  div.leftcol h1, div.leftcol h2, div.leftcol h3 {
    color: #666666; }
  div.leftcol > div {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2; }
  div.leftcol .chat_description {
    color: #666; }
div.midcol {
  background-color: #f7efe1;
  margin-right: 0px;
  width: 450px;
  float: left; }
  div.midcol > div {
    padding: 10px; }
  div.midcol div.topichead {
    background-color: #d1cabf;
    padding: 10px; }
    div.midcol div.topichead h4 {
      width: 375px;
      float: left; }
    div.midcol div.topichead p.rally_topicdesc {
      margin: 0px; }
    div.midcol div.topichead div.rally_gotoactive {
      -moz-border-radius: 4px;
      /* FF1+ */
      -webkit-border-radius: 4px;
      /* Saf3-4, iOS 1+, Android 1.5+ */
      border-radius: 4px;
      /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
      /* useful if you don't want a bg color from leaking outside the border: */
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: none;
      background-color: #575450;
      clear: both;
      color: white;
      margin-top: 5px;
      padding: 5px; }
      div.midcol div.topichead div.rally_gotoactive p {
        margin: 0px; }
        div.midcol div.topichead div.rally_gotoactive p.left {
          float: left;
          width: 180px; }
        div.midcol div.topichead div.rally_gotoactive p.right {
          float: right;
          width: 30px; }
    div.midcol div.topichead div.rally_makeactive {
      display: none;
      clear: both;
      margin-top: 5px; }
    div.midcol div.topichead div.navbox {
      width: 50px;
      float: right; }
  div.midcol div.postsarea {
    overflow: auto; }
    div.midcol div.postsarea #posts_tm {
      display: none; }
    div.midcol div.postsarea ul.topicposts {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      div.midcol div.postsarea ul.topicposts li.message {
        -moz-box-shadow: 0px 1px 3px #bfbfbf;
        -webkit-box-shadow: 0px 1px 3px #bfbfbf;
        box-shadow: 0px 1px 3px #bfbfbf;
        margin: 0 0 3px 0;
        padding: 5px;
        background-color: #fff; }
        div.midcol div.postsarea ul.topicposts li.message div.post_avatar {
          width: 32px;
          float: left; }
        div.midcol div.postsarea ul.topicposts li.message div.post_content {
          width: 340px;
          float: left;
          margin-left: 10px; }
          div.midcol div.postsarea ul.topicposts li.message div.post_content h4 {
            float: left; }
          div.midcol div.postsarea ul.topicposts li.message div.post_content .post_actions {
            float: right; }
        div.midcol div.postsarea ul.topicposts li.message span.count {
          color: #999999; }
      div.midcol div.postsarea ul.topicposts li.infomsg {
        margin: 10px 0px; }
        div.midcol div.postsarea ul.topicposts li.infomsg p {
          color: #999999;
          margin: 0px;
          padding: 0px; }
  div.midcol div.topicsend {
    display: none;
    padding: 0px 5px 5px 10px; }
    div.midcol div.topicsend #post_text {
      border: 1px solid #999;
      font-size: 13px;
      background-color: #fff;
      width: 370px;
      padding: 2px; }
    div.midcol div.topicsend div.tweetout {
      color: #999999; }
div.rightcol {
  background-color: white;
  width: 265px;
  float: left;
  overflow: auto; }
  div.rightcol div.sidesection {
    padding: 10px 15px;
    border-bottom: 1px solid #e2e2e2;
    height: 140px;
    overflow: hidden; }
    div.rightcol div.sidesection h2 {
      float: left; }
    div.rightcol div.sidesection .sidenav {
      float: right; }
    div.rightcol div.sidesection#rally_miniavatars {
      border: none; }
    div.rightcol div.sidesection div.miniavatar {
      width: 32px;
      height: 32px;
      float: left;
      margin: 0px 8px 8px 0px !important;
      padding: 0px;
      border: none; }
    div.rightcol div.sidesection ul.sideposts {
      list-style-type: none;
      margin: 0px;
      padding: 0px; }
      div.rightcol div.sidesection ul.sideposts li {
        margin: 8px 0 8px 0; }
        div.rightcol div.sidesection ul.sideposts li h4 {
          display: inline-block;
          margin: 0px !important;
          width: 70%; }
        div.rightcol div.sidesection ul.sideposts li span.count {
          float: right;
          color: #999999; }

p.post {
  margin: 0px;
  clear: both; }

div.modalbox {
  -moz-box-shadow: 0px 1px 3px #666;
  -webkit-box-shadow: 0px 1px 3px #666;
  box-shadow: 0px 1px 3px #666;
  /*   background-color: $modalbgC; */
  background-repeat: repeat-x repeat-y;
  background-image: url(/img/background_noise.png);
  padding: 20px;
  display: none;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 200px; }
  div.modalbox div.modal_close {
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 30px;
    padding: 1px 2px;
    line-height: 0; }
    div.modalbox div.modal_close a {
      text-decoration: none;
      color: #999999; }
  div.modalbox label {
    display: block;
    clear: both;
    margin: 10px 0 0 0;
    font-weight: bold; }

#login_box {
  /*   height: 250px; */ }

#signup_box {
  /*   height: 350px; */ }

.auth_vertlist {
  margin: 10px 0 25px 0; }
  .auth_vertlist div {
    margin-bottom: 10px; }

.auth_img {
  padding: 5px 7px; }

#hostchat_box {
  /*   height: 500px; */
  width: 250px; }
  #hostchat_box input {
    width: 200px; }
  #hostchat_box textarea {
    width: 195px;
    height: 30px; }
  #hostchat_box #hostchat_topiclist {
    overflow: auto;
    height: 400px;
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    #hostchat_box #hostchat_topiclist li {
      margin: 5px 0px 0px 0px; }
  #hostchat_box #hostchat_backbtn {
    margin: 0 0 15px 0; }
  #hostchat_box #hostchat_addremove {
    margin: 0 0 15px 0; }
  #hostchat_box #hostchat_topicitem_tm {
    display: none; }

#profile_box {
  height: 100px; }

#chat_logo {
  margin-top: 10px;
  text-align: center; }
  #chat_logo img {
    display: none;
    border: none; }

#avatar_drillup {
  display: none; }

#agree_drillup {
  display: none; }

#reply_drillup {
  display: none; }

#miniavatar_tm {
  display: none; }

#topicheads {
  padding: 0px; }

#topichead_tm {
  display: none; }

#topicposts_tm {
  display: none; }

#welcome {
  display: none; }

#hostyourown {
  display: none; }

#rally_desc {
  padding: 0px; }

#rally_editbtn {
  display: none; }

#agree_msg_tm {
  display: none; }

#reply_msg_tm {
  display: none; }

#head_nick_img {
  background-position: 7px -746px;
  margin-right: -5px;
  width: 40px; }

#head_linkedin {
  background-position: 7px -390px; }

#head_twitter {
  background-position: 7px -963px; }

#head_facebook {
  background-position: 7px -255px; }

/* LANDING PAGE */
* html .landing {
  height: 100%; }

/* IE6 hack */
html, body {
  height: 100%; }

.landing {
  background-color: #3399cc;
  min-height: 100%; }

.coming_soon {
  margin: 0 auto;
  padding-top: 200px;
  width: 315px; }

.coming_soon img {
  display: block; }

.coming_soon h1 {
  font-size: 21px;
  margin: 25px 0 10px 0;
  border-top: 1px solid #fff;
  padding-top: 25px;
  color: #fff; }

.coming_soon .textfield {
  width: 250px;
  margin: 0 0 5px 0; }

.coming_soon input[type="submit"] {
  font-size: 17px; }
