

$len:   30px;
$lenb:  20px;
$lenm:  15px;
$lens:  10px;
$lent:   5px;

$len2: 2 * $len;

$headC: #39c;
$footC: #999;
$locolC: #fff;
$hicolC: #f7efe1;
$navbgC: #666;
$bodybgC: #ccc;
$modalbgC: #e6e6e6;
$topicheadbgC: #d1cabf;

$fontbodyC: #404040;
$fontmetaC: #999;
$fontsideC: #666;
$fontnavC:  #fff;


@mixin sidecont() {
  padding: $lens $lenm;
  border-bottom: 1px solid #e2e2e2;
}

@mixin box-round {
  -moz-border-radius: 4px; /* FF1+ */
  -webkit-border-radius: 4px; /* Saf3-4, iOS 1+, Android 1.5+ */
  border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
          
  /* useful if you don't want a bg color from leaking outside the border: */        
  -moz-background-clip: padding; 
  -webkit-background-clip: padding-box; 
  background-clip: padding-box; 
}

@mixin modalshadow {
  -moz-box-shadow: 1px 1px 3px #666; 
  -webkit-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #666; 
}

@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.textbtn {
    color: #9e9e9e;
  }

  &.imgbtn {
     display: inline-block;
     width:  $lenm;
     height: $lenm;

     &.sprite-drilldown, &.sprite-page-backward, &.sprite-page-forward {
       width:  22px;
       height: 22px;
     }

     &:hover {
       text-decoration: none;
     }
  }
}


body {
  font-size: 13px;
  color: $fontbodyC;
  background-color: $bodybgC;
  line-height: 1.3;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  color: $fontbodyC;
  margin: $lent 0px;
}


h2 {
  font-weight: bold;
  font-size: 15px;
  color: $fontbodyC;
  margin: 0px;
}


h3 {
  font-weight: bold;
  font-size: 15px;
  color: $fontbodyC;
  margin: 0 0 5px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
  float: left;
  margin: 0px;
}

p { 
  margin: 0 0 1em 0;
}

input {
  font-size: 15px;
}


.content, .container {
  width: 980px;
  margin: 0 auto;
}

div {
  &.container {
    height: 100%;
  }

  &.header {
    background-color: $headC;
    height: $len2;
    width: 980px; 

    h1 {
      color: #fff;
      padding: $lenm;
      float:left;
    }

    ul.topnav {
      float: right;
      list-style-type: none;
      margin: $lenb $lent;

      li {
        padding: 0px;
        margin: 0px 4px 0 0;
        display: inline;

        a {
         padding: 5px 7px;
         background-color: $navbgC;
         color: $fontnavC;
         @include box-round;
       }
     }
    }
  }


  &.leftcol {
    background-color: $locolC;
    margin-right: 0px;
    height: 1000px;
    width: 265px;
    float: left;

    h1,h2,h3 {
      color: $fontsideC;
    }

    div {
      @include sidecont();
    }
    .chat_description {
      color: #666;
    }
  }


  &.midcol {
    background-color: $hicolC;
    margin-right: 0px;
    height: 1000px;
    width: 450px;
    float: left;

    &>div {
      padding: $lens 5px $lens $lenm;
    }

    div.topichead {
      background-color: $topicheadbgC;

      p {
        float: left;
        width: 360px;
        margin: 0px;
        clear:both;
      }
      div.navbox {
        width: 55px;
        float: right;
      }
    }

    div.topicwelcome {
      display: none;
    }

    div.topicposts {
      overflow: auto;
      height:800px;

      #posts_tm { 
        display: none; 
      }
      #posts {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    
        li.message {
          margin: $lens 0px;
          border: 1px solid #ccc;
          padding: $lens;
          background-color: #fff;


          div.post_avatar {
            width: 32px;
            float: left;
          }

          div.post_content {
            width: 280px;
            float: right;
          }


          span.shares {
            float: left;
            color: $fontmetaC;
          }    
        }

        li.infomsg {
          margin: $lens 0px;
                      
          p {
            color: $fontmetaC;
            margin: 0px;
            padding: 0px;
          }
        }
      }
    }

    div.topicsend {
      display: none;

      #post_text {
        border: 1px solid #ccc;
        font-size: 16px;
        background-color: #fff;
        width: 300px;
      }

      p.tweetout {
        color: $fontmetaC;
      }
    }
  }


  &.rightcol {
    background-color: $locolC;
    height: 1000px;
    width: 265px;
    float: left;

    div {
      @include sidecont();

      &#rally_miniavatars {
        border: none;
      }

      &.miniavatar {
        width: 32px;
        height: 32px;
        float: left;
        margin: 0px 8px 8px 0px;
        padding: 0px;
        border: none;
      }

      ul.sideposts {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    
        li {
          margin: 0 0 8px 0;

          span.shares {
            float: left;
            color: $fontmetaC;
          }    
        }
      }
    }
  }
}

p {
  &.post {
    margin: 0px;
    clear: both;
  }

}



#login_box {
  @include modalshadow;
  display: none;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 200px;            
  height: 200px;
  background-color: $modalbgC;
  padding: 20px;
}

#signup_box {
  @include modalshadow;
  display: none;
  position: absolute;
  top: 100px;
  margin: auto;
  width: 200px;            
  height: 300px;
  background-color: $modalbgC;
  padding: 20px;
}


#miniavatar_tm {
   display: none;
}
