<SCRIPT>
function clearDefaultandCSS(el) {
  if (el.defaultValue==el.value) el.value = ""
}
</SCRIPT>

<div class="landing">
  <div class="coming_soon">
    <img src="/img/logo_landing.png" />

    <h1>Real-Time Social Media Group Chats for Branded Communities</h1>
    <h1>Request a Private Beta Invite</h1>
    
    <form method="post" action="http://oi.vresp.com?fid=547fff93de" >
      <div>
        <input name="email_address" value ="E-Mail Address" ONFOCUS="clearDefault(this)" class="textfield"/><br/>
        <input name="TwitterHandle" value ="TwitterHandle" ONFOCUS="clearDefault(this)"class="textfield"/><br/>
        <input type="submit" value="Send"/>
      </div>
    </form>
    
    <p><a href="http://blog.stanzr.com">Read our blog</a> to learn more</p>
    
    
  </div>
</div> 

