<div class="landing">
  <div class="coming_soon">
    <img src="/img/logo_landing.png" />

    <h1>Real-Time Social Media Group Chats</h1>
    <h1>Request a Private Beta Invite</h1>
    
    <form method="post" action="http://oi.vresp.com?fid=547fff93de" >
      <div>
        <input name="email_address" class="textfield"/>
        <input type="submit" value="Send"/>
      </div>
    </form>
    
    <p><a href="http://blog.stanzr.com">Read our blog</a> to learn more</p>
    
    
  </div>
</div> 

