<!DOCTYPE html>
<html>
<head>
  <title><%= txt.title %></title>

  <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/stanzr.css">
  <link rel="stylesheet" href="/img/sprites.css">

  <script>
    var page = 'home'
    var chatid = '<%=val.chatid||''%>'
    var nick = '<%=val.nick||''%>'
  </script>

<% if( val.chatid ) { %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
  <script src="/js/jquery.cookie.js"></script>
  <script src="/js/json2.js"></script>
  <script src="/js/underscore.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="/js/markdown.js"></script>
  <script src="/nowjs/now.js"></script>
  <script src="/js/stanzr.js"></script>
<% } %>

</head>

<body>
  <%- body %>

  <img src="/img/sprites.png" style="display:none">

</body>
</html>
