
<div class="container">
  <div class="span-24 header clearfix">
    <h1>Stanzr</h1>

    <ul>
      <li><a id="head_hostyours" href="javascript:void(0)">Host your own</a></li>
      <li><a id="head_twitter" href="javascript:void(0)">-T-</a></li>
      <li><a id="head_facebook" href="javascript:void(0)">-F-</a></li>

      <% if( nick ) { %>
      <li><a id="head_nick" href="javascript:void(0)"><%=nick%></a></li>
      <li><a id="head_logout" href="javascript:void(0)">Log out</a></li>
      <% } else { %>
      <li><a id="head_signup" href="javascript:void(0)">Sign up</a></li>
      <li><a id="head_login" href="javascript:void(0)">Log in</a></li>
      <% } %>
    </ul>
  </div>
  
  <div class="span-7 leftcol">
    <div>
      <h1 id="rally_title">Chat Title Lorem Ipsum Dolor</h1>
      <h2>#<%=chathash%></h2>
    </div>

    <div>
      <h2>Moderated by <a id="rally_modname">Person Name</a></h2>
      <h3 id="rally_modtitle">Title, Company</h3>
      <a id="rally_modmsgB" href="javascript:void(0)" class="textbtn">send a message</a>
    </div>

    <div>
      <h2>Scheduled for <span id="rally_date">April 12</span></h2>
      <h3 id="rally_time">from 8-9 PM</h3>
      <a id="rally_remindB" href="javascript:void(0)" class="textbtn">remind me</a>
      <br />
      <a href="javascript:void(0)">[Like]</a>
      <a href="javascript:void(0)">[Tweet]</a>
    </div>

    <div>
      <p>
        Sed ut perspiciatis unde omnis iste natus sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto
        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi
        nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
        dolor sit amet, consectetur, adipisci velit, sed quia non
        numquam eius modi tempora incidunt ut labore et dolore magnam
        aliquam quaerat voluptatem. 
      </p>
      <p>
        Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum
        iure reprehenderit qui in ea voluptate velit esse quam nihil
        molestiae consequatur, vel illum qui dolorem eum fugiat quo
        voluptas nulla pariatur?
      </p>
      <p style="text-align:center">

      </p>
    </div>

  </div>

  <div class="span-10 midcol clearfix">
    <div class="topichead">
      <h4 id="rally_topicname">Topic name</h4>
      <p  id="rally_topicdesc">Neque porro quisquam est, qui dolorem ipsum</p>
      <div class="navbox">
        <a href="javascript:void(0)" class="imgbtn sprite-page-backward">&nbsp;</a>
        <a href="javascript:void(0)" class="imgbtn sprite-page-forward">&nbsp;</a>
      </div>
    </div>

<!--
    <div id="logindiv" style="background-color:yellow;clear:both; margin:30px;">
      Enter username:
      <input id="username">
      <a href="javascript:void(0)" id="loginbtn" class="textbtn">log in</a>
    </div>
-->
    <div class="topicwelcome">
      <h2>Welcome <span></span>!<h2>
    </div>



    <div class="topicposts" class="clearfix">

      <ul id="posts">
      </ul>

      <ul id="posts_tm">
        <li class="message clearfix">
          <div class="post_avatar sprite-silhouette32"></div>
          <div class="post_content">
            <h4></h4>
            <span class="shares">&nbsp;&nbsp;x12</span>
            &nbsp;&nbsp;<a href="javascript:void(0)" class="imgbtn sprite-at-reply">&nbsp;</a>
            &nbsp;&nbsp;<a href="javascript:void(0)" class="imgbtn sprite-approve">&nbsp;</a>
            <p class="post"></p>
          </div>
        </li>
        <li class="infomsg clearfix">
          <p></p>
        </li>

     <ul>   
    </div>

    <div class="topicsend">
      <input type="text" id="post_text" >
      <input type="button" value="Send" id="post_send">
      <p class="tweetout">
        <input type="checkbox" checked="yes"> Also post on Twitter - appends <span id="rally_hash">#<%=chathash%></span> 
      </p>
    </div>


  </div>


  <div class="span-7 last rightcol">

    <div class="clearfix">
      <h2>
        <span id="rally_pcount">0</span> people in this chat 
        <a href="javascript:void(0)" class="imgbtn sprite-drilldown">&nbsp;</a>
      </h2>
      

      <div id="rally_miniavatars" class="clearfix">

      </div>

      <div id="miniavatar_tm" class="miniavatar sprite-silhouette32"></div>
    </div>

    <div>
      <h2>
        <a href="javascript:void(0)" class="imgbtn sprite-approve">&nbsp;</a> 
        Most agreed upon
        <a href="javascript:void(0)" class="imgbtn sprite-drilldown">&nbsp;</a>
      </h2>
      
      <ul id="rally_mostagreed" class="sideposts">
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
      </ul>
    </div>

    <div>
      <h2>
        Top Shares
        <a href="javascript:void(0)" class="imgbtn sprite-drilldown">&nbsp;</a>
      </h2>

      <ul id="rally_topshares" class="sideposts">
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
        <li>
          <h4>username</h4>
          <span class="shares">&nbsp;&nbsp;x12</span>
          <p class="post">
            Sed ut perspiciatis unde omnis iste natus sit voluptatem.
          </p>
        </li>
      </ul>
    </div>

  </div>


  <div class="span-24 footer">
  <div>
   
</div>
  

<div id="login_box">
  <h2>Log in</h2>
  
  Username:<br />
  <input id="login_username"><br />
  
    Password:<br />
  <input type="password" id="login_password"><br />
  
  <a href="javascript:void(0)" id="login_loginbtn" class="textbtn">login</a>
  
  <p id="login_msg"></p>
</div>


<div id="signup_box">
  <h2>Register</h2>
  
  Username:<br />
  <input id="register_username"><br />

  Email:<br />
  <input id="register_email"><br />
  
  Password:<br />
  <input type="password" id="register_password"><br />

  Repeat Password:<br />
  <input type="password" id="register_repeat"><br />
  
  <a href="javascript:void(0)" id="register_registerbtn" class="textbtn">register</a>
  
  <p id="register_msg"></p>
</div>




