<div class="modalbox" style="display:block;margin:-4px;padding:6px;width:260px;height:90px;position:static">
<form id="upload" action="" method="post" enctype="multipart/form-data">
<input type="file" name="image" /><br>
<input type="submit" value="Upload" style="width:242px;"/>
</form>
</div>
<script>
var href = document.location.href
var tag = href.substring(5+href.indexOf('?tag='))
var f = document.getElementById('upload')
f.setAttribute('action','/api/upload/image?tag='+tag)
</script>
