.sprite-approve{      background-image: url(/img/sprites.png); background-position: 0 0; width: 14px; height: 16px; } 
.sprite-at-reply{     background-image: url(/img/sprites.png); background-position: 0 -66px; width: 16px; height: 10px; } 
.sprite-delete{       background-image: url(/img/sprites.png); background-position: 0 -126px; width: 13px; height: 15px; } 
.sprite-drilldown{    background-image: url(/img/sprites.png); background-position: 0 -191px; width: 17px; height: 17px; } 
.sprite-drillup{      background-image: url(/img/sprites.png); background-position: 0 -258px; width: 17px; height: 17px; } 
.sprite-facebook16{   background-image: url(/img/sprites.png); background-position: 0 -325px; width: 16px; height: 16px; } 
.sprite-like{         background-image: url(/img/sprites.png); background-position: 0 -391px; width: 49px; height: 20px; } 
.sprite-linkedin16{   background-image: url(/img/sprites.png); background-position: 0 -461px; width: 16px; height: 16px; } 
.sprite-logo{         background-image: url(/img/sprites.png); background-position: 0 -527px; width: 191px; height: 28px; } 
.sprite-page-backward{background-image: url(/img/sprites.png); background-position: 0 -605px; width: 22px; height: 23px; } 
.sprite-page-forward{ background-image: url(/img/sprites.png); background-position: 0 -678px; width: 22px; height: 23px; } 
.sprite-reshare{      background-image: url(/img/sprites.png); background-position: 0 -751px; width: 16px; height: 14px; } 
.sprite-silhouette16{ background-image: url(/img/sprites.png); background-position: 0 -815px; width: 16px; height: 16px; } 
.sprite-silhouette32{ background-image: url(/img/sprites.png); background-position: 0 -881px; width: 32px; height: 32px; } 
.sprite-tweet{        background-image: url(/img/sprites.png); background-position: 0 -963px; width: 55px; height: 20px; } 
.sprite-twitter16{    background-image: url(/img/sprites.png); background-position: 0 -1033px; width: 16px; height: 16px; } 
